In [9]:
import pandas as pd
import pandas as pd
from collections import Counter
from matplotlib import pyplot as plt
import seaborn as sns
from pathlib import Path
import numpy as np
from itertools import combinations
from pprint import pprint
import math
from typing import Literal, Union, List, Tuple, Dict, Any, Optional

In [10]:
from soil_fertility.components.models import MyApriori

In [11]:
import pandas as pd
from soil_fertility.components.data_ingestion import DataIngestion
from soil_fertility.components.data_transformation.data_transformation import DataTransformation
from soil_fertility.components.data_transformation.data_transformation_part3 import DataTransformationThree
from soil_fertility.components.data_transformation.data_transformation_part2 import DataTransformationTwo
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path
data_path= "/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset3.xlsx"
obj = DataIngestion()

part,train_path,test_path= obj.init_ingestion(
    data_path,
    option="xlsx"
)

tranformation_obj = DataTransformationThree()
part,preprocessor,raw_data_path = tranformation_obj.transform(
    train_path,test_path,numerical_features=["Temperature","Humidity","Rainfall"],k=5,strategie="frequency"
)

df = pd.read_csv(raw_data_path)

In [12]:
df

    Temperature Humidity Rainfall        Soil     Crop Fertilizer
0            T3       H4       R4    laterite  Coconut       Urea
1            T1       H1       R3     coastal  Coconut   Good NPK
2            T5       H5       R1    alluvial  Coconut        DAP
3            T1       H2       R3    alluvial  Coconut       Urea
4            T4       H5       R1     coastal  Coconut        MOP
..          ...      ...      ...         ...      ...        ...
290          T4       H3       R4      Clayey     rice       Urea
291          T5       H3       R2  silty clay     rice        DAP
292          T2       H4       R1  silty clay     rice       Urea
293          T3       H3       R1  silty clay     rice       Urea
294          T2       H1       R4  silty clay     rice        MOP

[295 rows x 6 columns]

In [13]:
aprio=MyApriori(0.8,0.8)
aprio.fit(df,transaction_columns=['Crop','Soil','Fertilizer'],items_groups=['Temperature','Humidity','Rainfall'])

In [14]:
rules=aprio.get_rules()

In [15]:
rules

,Antecedent,Consequent,Confidence,Cosine,Lift,All Confidence,Jaccard,Kulczynski,Max Confidence
0,(T5),(H4),1.000000,1.000000,1.173913,1.000000,1.000000,1.000000,1.000000
1,(H3),(R2),1.000000,1.000000,1.173913,1.000000,1.000000,1.000000,1.000000
2,(H5),(T3),1.000000,1.000000,1.125000,1.000000,1.000000,1.000000,1.000000
3,(R3),(H4),1.000000,1.000000,1.227273,1.000000,1.000000,1.000000,1.000000
4,(T4),(H4),1.000000,1.000000,1.173913,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...
179,(H4),"(T4, T3)",0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.181818
180,(H4),"(T4, H5)",0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.181818
181,(H4),"(T4, H5, T3)",0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.181818
182,(H4),"(T4, T3, R1)",0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.181818
183,(H4),"(T4, H5, R1)",0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.181818

In [17]:
rules.describe()

,Confidence,Cosine,Lift,All Confidence,Jaccard,Kulczynski,Max Confidence
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,0.942575,0.970566,1.134434,0.942575,0.942575,0.971288,1.063552
std,0.046516,0.024080,0.058667,0.046516,0.046516,0.023258,0.053633
min,0.846154,0.919866,1.038462,0.846154,0.846154,0.923077,1.000000
25%,0.916667,0.957427,1.080000,0.916667,0.916667,0.958333,1.000000
50%,0.956522,0.978019,1.125000,0.956522,0.956522,0.978261,1.045455
75%,1.000000,1.000000,1.173913,1.000000,1.000000,1.000000,1.090909
max,1.000000,1.000000,1.227273,1.000000,1.000000,1.000000,1.181818

In [18]:
prediction_result = aprio.predict(items=['H4'], metric='confidence')
print(prediction_result)

[(frozenset({'R1'}), 0.9615384615384616), (frozenset({'T3'}), 0.9230769230769231), (frozenset({'H5'}), 0.9230769230769231), (frozenset({'H5', 'T3'}), 0.9230769230769231), (frozenset({'T5'}), 0.8846153846153847), (frozenset({'R2'}), 0.8846153846153847), (frozenset({'T4'}), 0.8846153846153847), (frozenset({'T3', 'R1'}), 0.8846153846153847), (frozenset({'T4', 'R1'}), 0.8846153846153847), (frozenset({'H5', 'R1'}), 0.8846153846153847), (frozenset({'H5', 'T3', 'R1'}), 0.8846153846153847), (frozenset({'H3'}), 0.8461538461538461), (frozenset({'R3'}), 0.8461538461538461), (frozenset({'T5', 'R1'}), 0.8461538461538461), (frozenset({'H3', 'R2'}), 0.8461538461538461), (frozenset({'R2', 'R1'}), 0.8461538461538461), (frozenset({'T4', 'T3'}), 0.8461538461538461), (frozenset({'T4', 'H5'}), 0.8461538461538461), (frozenset({'T4', 'H5', 'T3'}), 0.8461538461538461), (frozenset({'T4', 'T3', 'R1'}), 0.8461538461538461), (frozenset({'T4', 'H5', 'R1'}), 0.8461538461538461)]