In [2]:
data_path="/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv" 
import pandas as pd
sklearn_data=pd.read_csv(data_path)
def handling(val):
    try : 
        return float(val)
    except :
        return None

sklearn_data['P']=sklearn_data['P'].apply(handling)
import numpy as np

sklearn_data.dropna(inplace=True)

sklearn_data.drop_duplicates(inplace=True)

sklearn_data.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.00000,878.000000,878.000000,878.000000
mean,246.842825,14.572437,501.042141,7.510706,0.544077,0.617665,7.525239,0.469419,4.145763,0.951697,8.68836,0.586139,1.062384,0.587699
std,77.370500,21.991113,129.100764,0.464720,0.141563,0.843975,4.405285,1.896323,3.107853,0.466295,4.29319,0.564529,1.451637,0.573798
min,6.000000,2.900000,11.000000,0.900000,0.100000,0.100000,0.640000,0.070000,0.210000,0.090000,0.11000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,412.000000,7.350000,0.430000,0.380000,4.700000,0.280000,2.060000,0.630000,6.23000,0.270000,0.653600,0.000000
50%,257.000000,8.100000,475.000000,7.500000,0.550000,0.590000,6.640000,0.360000,3.565000,0.930000,8.36500,0.400000,1.014800,1.000000
75%,307.000000,10.650000,581.000000,7.630000,0.640000,0.780000,8.750000,0.470000,6.320000,1.250000,11.48000,0.610000,1.341600,1.000000
max,383.000000,125.000000,1560.000000,11.150000,0.950000,24.000000,31.000000,42.000000,44.000000,3.020000,31.00000,2.820000,41.280000,2.000000

In [4]:
import numpy as np
import pandas as pd

# Function to replace outliers with the mean
def replace_outliers_with_mean(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Calculate mean without outliers
    mean = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)][column].mean()

    # Replace outliers
    df[column] = np.where((df[column] < lower_bound) | (df[column] > upper_bound), mean, df[column])

# Apply the function to each column
for col in sklearn_data.columns:
    replace_outliers_with_mean(sklearn_data, col)

sklearn_data.describe()

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
count,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000,878.000000
mean,250.219653,7.802048,497.111270,7.480037,0.544584,0.591003,6.677214,0.375899,4.066187,0.949339,8.485384,0.378776,1.016526,0.587699
std,72.282247,1.580539,116.707948,0.223353,0.140766,0.296934,2.439188,0.117370,2.612473,0.461029,3.952555,0.163547,0.510726,0.573798
min,50.000000,3.900000,222.000000,6.960000,0.200000,0.100000,0.640000,0.070000,0.210000,0.090000,0.110000,0.060000,0.172000,0.000000
25%,201.000000,6.800000,412.000000,7.350000,0.430000,0.380000,4.700000,0.280000,2.060000,0.630000,6.230000,0.270000,0.653600,0.000000
50%,257.000000,7.802048,475.000000,7.483147,0.550000,0.590000,6.640000,0.360000,3.565000,0.930000,8.365000,0.387898,1.014800,1.000000
75%,307.000000,8.318602,570.000000,7.600000,0.640000,0.780000,8.400000,0.460000,6.315000,1.250000,11.250000,0.480000,1.341600,1.000000
max,383.000000,12.300000,813.000000,8.000000,0.950000,1.270000,14.000000,0.730000,10.550000,2.100000,19.030000,0.840000,2.184400,2.000000