In [15]:
from soil_fertility.components.transformations import DropMissingValues,DropDuplicates,CustomImputer,MinMaxTransformation,ZScoreTransformation
import numpy as np

In [16]:
import pandas as pd

# Load data
df = pd.read_csv('/home/redha/Documents/projects/NLP/datamining project/Soil-Fertility/data/Dataset1.csv')

In [17]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1.4792,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,0.8428,1
881,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,1.8404,2
882,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,1.5136,0
883,220,8.6,444,7.43,0.65,0.72,11.70,0.37,0.66,0.90,2.19,1.82,1.2384,0
884,270,8.1,655,7.45,0.55,0.67,10.20,0.28,0.44,1.26,7.75,2.56,1.1524,1

In [18]:
dropper=DropMissingValues()
df=dropper.fit_transform(df)

In [19]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1.4792,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,0.8428,1
881,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,1.8404,2
882,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,1.5136,0
883,220,8.6,444,7.43,0.65,0.72,11.70,0.37,0.66,0.90,2.19,1.82,1.2384,0
884,270,8.1,655,7.45,0.55,0.67,10.20,0.28,0.44,1.26,7.75,2.56,1.1524,1

In [20]:
duplcate_remover=DropDuplicates()
df=duplcate_remover.fit_transform(df)

In [21]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,1.8232,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,1.9092,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,1.6168,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1.4792,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,351,10.7,623,7.96,0.51,0.29,7.24,0.36,4.69,0.69,11.03,0.69,0.4988,1
879,264,9.0,486,7.24,0.47,0.10,3.92,0.35,8.26,0.45,7.98,0.40,0.1720,1
880,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,0.8428,1
881,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,1.8404,2
882,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,1.5136,0

In [22]:
#drop outliers
imputer=CustomImputer()
df=imputer.fit_transform(df)

In [23]:
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,OM,Fertility
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,1.2040,0
20,245,8.1,560,7.31,0.63,0.78,11.60,0.29,0.43,0.57,7.73,0.74,1.3416,0
29,245,8.3,560,7.58,0.74,0.83,8.20,0.32,0.96,1.57,2.67,0.59,1.4276,0
42,182,10.7,708,7.48,0.57,1.11,14.20,0.59,0.92,1.15,6.69,0.65,1.9092,0
51,107,8.3,612,7.43,0.43,0.75,7.20,0.18,0.95,0.89,2.16,0.74,1.2900,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,351,10.7,623,7.96,0.51,0.29,7.24,0.36,4.69,0.69,11.03,0.69,0.4988,1
879,264,9.0,486,7.24,0.47,0.10,3.92,0.35,8.26,0.45,7.98,0.40,0.1720,1
880,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,0.8428,1
881,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,1.8404,2
882,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,1.5136,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 882
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          622 non-null    int64
 1   P          622 non-null    float64
 2   K          622 non-null    int64
 3   pH         622 non-null    float64
 4   EC         622 non-null    float64
 5   OC         622 non-null    float64
 6   S          622 non-null    float64
 7   Zn         622 non-null    float64
 8   Fe         622 non-null    float64
 9   Cu         622 non-null    float64
 10  Mn         622 non-null    float64
 11  B          622 non-null    float64
 12  OM         622 non-null    float64
 13  Fertility  622 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 72.9 KB

In [25]:
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()